.hero{
    background-image: url(../images/main.png);
    height:400px;
    line-height:400px;
    background-position: center;

}
.hero>h1{
    text-align: center;
    /* padding-top: 15.3%; */
}
.banner_inner{
    /* text-align:justify; */
    padding-left:10px;
    padding-right:10px;
}

.pad_right20{
    text-align:center;
    background-color:#5e456c;
    padding-left:10px;
    padding-right:10px;
    line-height: 1.5em;
    font-size:1.5em;

}

.lien {
    background-color:#5e456c; 
    padding-left:10px;
    padding-right:10px;
    line-height: 1.5em;
    font-size:1.5em;
    text-decoration: underline;  

}
.lien>h2 {
    line-height: 1.5em;
    font-size:1.5em;
}

.footer-disclaimer{
    padding-left: 15%;
}